workflow.json
{
  "id": "j0Ci2v8CjjHbkE06",
  "meta": {
    "instanceId": "fad4685b4ab8e970c733dbe401b23eab8f4ed5cc48f64e46ab5e08ebe1ab9004",
    "templateCredsSetupCompleted": true
  },
  "name": "Automated Trend-Based Multi-Platform Content Generation and Approval System",
  "tags": [],
  "nodes": [
    {
      "id": "e4f59aa5-ab0a-467c-a450-7227b82782cd",
      "name": "Every 8 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1024,
        512
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "497120ad-c098-4a4e-bab8-60260b7090ff",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        -800,
        512
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "trendsRssUrl",
              "type": "string",
              "value": "https://trends.google.com/trends/trendingsearches/daily/rss?geo=JP"
            },
            {
              "id": "id-2",
              "name": "slackChannel",
              "type": "string",
              "value": "general"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "daa1aab7-2e4e-4b4f-a031-febb33d7f1e3",
      "name": "Fetch Google Trends RSS",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -576,
        512
      ],
      "parameters": {
        "url": "=https://news.google.com/rss?hl=ja&gl=JP&ceid=JP:ja",
        "options": {}
      },
      "typeVersion": 4.3
    },
    {
      "id": "bb9552e0-bf52-44e3-bddb-2ccb27af3552",
      "name": "AI Agent: Trend Filter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -352,
        512
      ],
      "parameters": {
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "あなたは優秀な編集長です。入力されたRSSフィードのデータから、今最もSNSで話題になりそうな「ガジェット」「AI技術」「ライフハック」に関するネタを1つだけ選定してください。\n\n選定基準:\n- 検索ボリュームの急上昇\n- SNSでのバイラル性\n- ターゲット層への関連性\n\n出力は以下のJSON形式のみで行ってください。"
        },
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 3
    },
    {
      "id": "94971a03-c4c2-4c29-af2b-c0be41d7100b",
      "name": "OpenAI Chat Model - Filter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -352,
        736
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {},
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "m7GkJDY4aZavEM69",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "3016f60b-1a5d-4bc0-ba20-9a0648c3b11c",
      "name": "Structured Output Parser - Filter",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -224,
        736
      ],
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"selected_topic\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"選んだトピックのタイトル\"\n\t\t},\n\t\t\"reason\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"なぜこれを選んだかの理由\"\n\t\t},\n\t\t\"target_audience\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"ターゲット層\"\n\t\t}\n\t}\n}"
      },
      "typeVersion": 1.3
    },
    {
      "id": "94ad4e18-454d-47bc-ae7d-06a3766201eb",
      "name": "AI Agent: SEO Blog Writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        0,
        0
      ],
      "parameters": {
        "text": "={{ $json.output.selected_topic }}",
        "options": {
          "systemMessage": "あなたはSEOに精通したプロのブログライターです。\n\nあなたのタスク:\n1. 提供されたトピックについて、SEOを意識した3000文字程度のブログ記事構成案を作成する\n2. 結論ファーストで書く\n3. H1, H2, H3の見出し構造を明確にする\n4. 検索意図を満たすコンテンツにする\n5. 読者に価値を提供する実用的な情報を含める\n\n出力形式:\n- H1: メインタイトル\n- 導入（結論を先に述べる）\n- H2: セクション1\n  - H3: サブセクション\n- H2: セクション2\n  - H3: サブセクション\n- まとめ"
        },
        "promptType": "define"
      },
      "typeVersion": 3
    },
    {
      "id": "98602a6d-cfea-43e9-ac99-d60d9bcef283",
      "name": "OpenAI Chat Model - Blog",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        80,
        224
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {},
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "m7GkJDY4aZavEM69",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "10f5d82a-bc1e-4c4d-9c48-0719dfd1f12c",
      "name": "AI Agent: Instagram Designer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        0,
        400
      ],
      "parameters": {
        "text": "=トピック:{{ $json.output.selected_topic }}\\n インスタのカルーセル投稿（5枚分）の構成案を作って。",
        "options": {
          "systemMessage": "あなたはInstagramのバイラルコンテンツを作成するプロのデザイナーです。\n\nあなたのタスク:\n提供されたトピックについて、Instagramのカルーセル投稿（全5枚）の構成を作成してください。\n\n構成:\n1枚目：インパクトのある表紙タイトル（数字や絵文字を活用）\n2-4枚目：有益な情報まとめ（箇条書き、視覚的に分かりやすく）\n5枚目：保存を促すCTA（「保存して後で見返そう！」など）\n\n各スライドには:\n- キャッチーな見出し\n- 簡潔な説明文\n- 推奨される視覚要素の説明"
        },
        "promptType": "define"
      },
      "typeVersion": 3
    },
    {
      "id": "7789b456-a282-4f1f-b990-ac47f948ded5",
      "name": "OpenAI Chat Model - Instagram",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        80,
        624
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {},
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "m7GkJDY4aZavEM69",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "eaea0454-a3b0-4a43-994a-384092795bde",
      "name": "AI Agent: Script Writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        0,
        912
      ],
      "parameters": {
        "text": "=トピック:{{ $json.output.selected_topic }}\\n TikTok用の動画台本を作って。",
        "options": {
          "systemMessage": "あなたはTikTok/Reelsでバイラルする動画台本を書くプロのスクリプトライターです。\n\nあなたのタスク:\n提供されたトピックについて、TikTok/Reels用のショート動画台本（60秒以内）を作成してください。\n\n台本構成:\n冒頭2秒のフック：視聴者の注意を引く強烈な一言\n本編（40秒）：\n  - 問題提起\n  - 解決策の提示\n  - 具体例や実演\nオチ（10秒）：\n  - まとめ\n  - CTA（フォロー、保存、シェアを促す）\n\n注意点:\n- テンポよく、飽きさせない\n- 視覚的な演出の指示も含める\n- 字幕で伝える内容も明記"
        },
        "promptType": "define"
      },
      "typeVersion": 3
    },
    {
      "id": "636354da-5c60-4377-b448-5b0c788bf799",
      "name": "OpenAI Chat Model - Script",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -48,
        1072
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {},
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "m7GkJDY4aZavEM69",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "0ff7cff0-ab9f-412b-aabd-87bb8141ec9e",
      "name": "Merge All Content",
      "type": "n8n-nodes-base.merge",
      "position": [
        352,
        496
      ],
      "parameters": {
        "numberInputs": 3
      },
      "typeVersion": 3.2
    },
    {
      "id": "b7c726cf-6225-4ced-89ec-18b7d5f09c00",
      "name": "Send to Slack for Approval",
      "type": "n8n-nodes-base.slack",
      "position": [
        784,
        512
      ],
      "webhookId": "0c2dbc99-67f3-4620-b927-054b7ad18711",
      "parameters": {
        "text": "=🚀 **新しいトレンドコンテンツが生成されました！**\n\n**選定トピック**: {{ $(&apos;AI Agent: Trend Filter&apos;).first().json.selected_topic }}\n\n**📝 Blog構成案**:\n{{ $(&apos;AI Agent: SEO Blog Writer&apos;).first().json.output }}\n\n**📸 Instagram案**:\n{{ $(&apos;AI Agent: Instagram Designer&apos;).first().json.output }}\n\n**🎬 Script案**:\n{{ $(&apos;AI Agent: Script Writer&apos;).first().json.output }}\n\n承認して投稿予約しますか？",
        "select": "channel",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"🚀 新しいトレンドコンテンツが生成されました！\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*📝 Blog構成案 (抜粋)*\\n\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"{{ $json.blog_content.slice(0, 500) }}...\\n_(長いため省略)_\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*📸 Instagram投稿案*\\n{{ $json.insta_content.slice(0, 300) }}...\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*🎬 動画台本*\\n{{ $json.script_content.slice(0, 300) }}...\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"✅ 承認して保存\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"style\": \"primary\",\n\t\t\t\t\t\"url\": \"{{ $execution.resumeUrl }}?action=approve\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"🗑 却下\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"style\": \"danger\",\n\t\t\t\t\t\"url\": \"{{ $execution.resumeUrl }}?action=reject\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "messageType": "block",
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "hH9XW7X1OOeHYSt5",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "60f2f64d-7660-472d-9426-2b3fdcead308",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        992,
        512
      ],
      "webhookId": "cec6966a-907d-40cd-adf2-4fd34bb2da48",
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "typeVersion": 1.1
    },
    {
      "id": "3f76c233-5108-4c6c-9a04-401403672906",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1120,
        624
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ede6ca5f-3709-497e-bd08-48b2ce591b84",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.query.action }}",
              "rightValue": "approve"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "b9867afb-e1dc-4686-950f-ced13eda1113",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "position": [
        560,
        496
      ],
      "parameters": {
        "jsCode": "// 3つのデータを1つにまとめ、Slackが壊れないように文字を掃除するコード\nconst items = $input.all();\n\n// 安全な文字に変換する魔法の関数\nfunction clean(text) {\n  if (!text) return \"生成エラー\";\n  // JSON文字にしてから、前後のダブルクォーテーションを外す（改行コードなどをエスケープする）\n  return JSON.stringify(text).slice(1, -1);\n}\n\n// ここで3つのデータを1つに合体！\n// ※順番がズレてもいいように、中身を見て判断するロジックを入れるとなお良しですが、今回は簡易版です\nreturn {\n  // 3つのアイテムを1つの塊にする\n  blog_content: clean(items[0]?.json?.output || \"データなし\"),\n  insta_content: clean(items[1]?.json?.output || \"データなし\"),\n  script_content: clean(items[2]?.json?.output || \"データなし\")\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "5d1305d2-61d1-436f-8c72-4df1655ccbf2",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1248,
        512
      ],
      "parameters": {
        "columns": {
          "value": {
            "テスト1": "={{ $(&apos;Code in JavaScript&apos;).item.json.blog_content }}",
            "テスト2": "={{ $(&apos;Code in JavaScript&apos;).item.json.insta_content }}",
            "テスト3": "={{ $(&apos;Code in JavaScript&apos;).item.json.script_content }}"
          },
          "schema": [
            {
              "id": "テスト1",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "テスト1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "テスト2",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "テスト2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "テスト3",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "テスト3",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "テスト"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12CBGF3CCiZdjj3htM-UdlLDFo6B4EvGv4hf3XALVXsc/edit#gid=0",
          "cachedResultName": "シート1"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GYHsA6YZdNULtyxj",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "74c24f5f-f05e-4f73-ac67-49b6ea58c4ac",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -992,
        336
      ],
      "parameters": {
        "color": 7,
        "width": 832,
        "height": 320,
        "content": "## 1. Trend Scout\nFetches daily trends from Google. An AI agent analyzes the feed to pick the single most engaging topic for content creation."
      },
      "typeVersion": 1
    },
    {
      "id": "a19fc1c6-3a03-42eb-a638-6b341e62348b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -96
      ],
      "parameters": {
        "color": 7,
        "width": 816,
        "height": 1280,
        "content": "## 2. AI Content Factory\nParallel AI agents generate three distinct formats: an SEO blog post, Instagram carousel slides, and a TikTok video script."
      },
      "typeVersion": 1
    },
    {
      "id": "eaf8ab0b-cbfb-4844-a82f-694fca8eaea7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        384
      ],
      "parameters": {
        "color": 7,
        "width": 640,
        "height": 368,
        "content": "## 3. Approval Loop\nSends the drafts to Slack with interactive buttons. The workflow waits for your approval before saving the final content to Google Sheets."
      },
      "typeVersion": 1
    },
    {
      "id": "cb817d7b-92b4-481b-b3dc-f47dcfedbaf9",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        160
      ],
      "parameters": {
        "width": 304,
        "height": 720,
        "content": "# 🚀 Automated Trend-Based Content Generator\n\nThis workflow turns daily Google Trends into ready-to-post content for Blog, Instagram, and TikTok using AI Agents.\n\n## ⚡️ How it works\n1. **Scout:** Fetches Google Trends and selects the best viral topic.\n2. **Create:** Generates an SEO Blog, Carousel slides, and a Script simultaneously.\n3. **Approve:** Sends drafts to Slack. Click \"Approve\" to save to Google Sheets.\n\n## 🛠 Setup Requirements\n- **OpenAI API Key** (GPT-4o recommended)\n- **Slack Account** (for notifications)\n- **Google Sheets** (for storage)"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a4be6bd7-a433-4366-8839-da27228eb2e0",
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 8 Hours": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Content": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send to Slack for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Trend Filter": {
      "main": [
        [
          {
            "node": "AI Agent: SEO Blog Writer",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent: Instagram Designer",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent: Script Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Fetch Google Trends RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Script Writer": {
      "main": [
        [
          {
            "node": "Merge All Content",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch Google Trends RSS": {
      "main": [
        [
          {
            "node": "AI Agent: Trend Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Blog": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: SEO Blog Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: SEO Blog Writer": {
      "main": [
        [
          {
            "node": "Merge All Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Filter": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Trend Filter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Script": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Script Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack for Approval": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Instagram Designer": {
      "main": [
        [
          {
            "node": "Merge All Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model - Instagram": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Instagram Designer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser - Filter": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Trend Filter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  }
}